.avengerentete {
    background-size: cover;
    object-fit: cover;
    background: url("img/marvels-the-avengers-504925d6dca45.jpg") fixed top;
 
    background-repeat: no-repeat;
    height: 60vh;
}

.photominiature{
    height: 4rem;
    width: auto;
}

.colorrouge{
    color: #871e3c;
}

.colorbleu{

    color: 0c65be;
}



/* @media screen and (max-width: 600px){  */
    


 .avengerpied{
    background-size: auto;
    background: url("img/footer2.jpg");
    background-repeat: no-repeat;
    height: 60vh;
}
/* } */